body{
    text-align: center;
    margin: 0;
}
h1{
    margin: 0px;
}
.top{
    background-color: #C4DFAA;
    margin: 0;
    position: relative;
    padding: 50px;
    
}



h1{
    color: #42855B;
    font-size: 50px;
    
}
p{
    color: #42855B;
    font-family:Arial, Helvetica, sans-serif;
}

.bottom-cloud{
    position: absolute;
    left: 360px;
}
.top-cloud{
    position: relative;
    left: 300px;
}
.pro-pic{
    height: 200px;
    width: 249px;
    border-radius: 45%;
    

}
h2{
    color: #42855B;
    
}
h3{
    color: #C4DFAA;
}
.skill-row{
    width:50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}
.computer{
    width: 25%;
    float: left;
    margin: auto 30px auto auto;
}
.chillies{
    width: 25%;
    float: right;
    margin-left:30px;
}

 hr{
    border-style: dotted;
 }   
 .middle-container{
    background-color: #C4DFAA;
    
 }
 .bottom-container{
    background-color: #C4DFAA;
    padding: 10px auto;
    
 }
 .button{
    background-color: #42855B;
    color: #C4DFAA;
    font-weight: normal;
    font-family: sans-serif;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
 }
 .button:hover{
    background-color:green;
 }
 a{
    color: #42855B;
    text-decoration: none;
    padding: 0 10px 10px 0;
 }
 a:hover{
    color: antiquewhite;
 }
 .git-img{
    height: 60px;
    border-radius: 10px;
    margin-top: 10px;
 }
 .tweet-imgs{
    height: 45px;
    border-radius: 10px;
    
 }
 .link{
    height: 45px;
 }
 .get{
    margin: auto;
 }
 .bottom-container{
    padding-bottom: 0;
 }
 @media (max-width:1028px) {
    h1{
    font-size: 20px;
    }
    body{
        background-color: #C4DFAA;
    }
    .top-cloud{
        position: absolute;
        left: 350px;
        top: 10px;
        width: 100px;
        
    }
    .bottom-cloud{
        position: absolute;
        left: 50px;
        width:100px ;
    }
    .pro-pic{
        width: 200px;
        border-radius: 100%;
    }
    .mountain{
        width: 400px;
    }
    .computer{
        width:150px ;
    }
    .chillies{
        width: 150px;
    }
 }